@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #121212;
}

.app {
    grid-template-areas:
        'head head head head head head head head head head'
        'nav nav main main main main main main main main'
        'vid vid vid vid vid vid vid bar bar bar'
        'res res res res res res res res res res';
}

.not-nav {
    grid-template-areas:
        'head head head head head head head head head head'
        'main main main main main main main main main main'
        'vid vid vid vid vid vid vid bar bar bar'
        'res res res res res res res res res res' !important;
}

.video-bar {
    grid-area: bar;
    height: 89vh;
}

header {
    grid-area: head;
}

section.videos {
    grid-area: main;

}

nav {
    grid-area: nav;
    height: 89vh;
    width: 90%;
    position: sticky;
    top: 79px;
    overflow-y: scroll;
    z-index: 5;
}

nav::-webkit-scrollbar {
    width: 7px;
}

nav::-webkit-scrollbar-track {
    background-color: transparent;
}

nav::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
}

nav>ul {
    margin-right: 1.15rem;
    margin-left: 1.15rem;
}

.video {
    grid-area: vid;
    width: calc(100% - 3rem);
    height: calc(55vw * 2/3);
}

.search-results {
    grid-area: res;
}

.search-unit img {
    width: 35rem;
    height: calc(30rem * 2/3);
}

@layer base {
    .bg-main {
        background-color: #121212;
    }

    .color-secondary {
        color: #1f1f1f;
    }

    .bg-sec {
        background-color: #1f1f1f;
    }

    .bg-light {
        background-color: #222222;
    }

    .border-second {
        border-color: #1f1f1f;
    }

    .border-light {
        border-color: #2a2a2a;
    }

    .border-1 {
        border-width: 1px;
    }

    .border-b-1 {
        border-bottom-width: 1px;
    }

    .border-t-1 {
        border-top-width: 1px;
    }

    .border-l-1 {
        border-left-width: 1px;
    }

    .border-r-1 {
        border-right-width: 1px;
    }
}

@media (max-width: 1024px) {
    .app {
        grid-template-areas:
            'head head head head head head head head head head'
            'main main main main main main main main main main'
            'vid vid vid vid vid vid vid vid vid vid'
            'bar bar bar bar bar bar bar bar bar bar'
            'res res res res res res res res res res';
    }

    section.video-bar {
        overflow: visible;
        margin: 0 1rem;
    }

    .video-bar ul a li div p {
        overflow: visible;
        width: 20rem;
    }

    .video {
        height: calc(70vw * 2/3);
    }

    .video iframe {
        height: 88%;
    }

    nav {
        width: 20rem;
        position: fixed;
        margin-left: 0 !important;
        height: 91vh !important;
    }
}

@media (max-width: 767px) {
    /* nav {
        display: none;
    } */
}